<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yourinventit.moat.android.example" >

    <uses-permission android:name="com.yourinventit.servicesync.android.permission.MOAT_ANDROID" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk android:minSdkVersion="9" />

    <application
        android:allowClearUserData="false"
        android:description="@string/app_desc"
        android:enabled="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/icon" >

        <!-- Main Activity -->
        <activity
            android:name=".SampleApplication"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Private Service -->
        <service
            android:name=".MoatIoTService"
            android:exported="false" />

        <!-- This class is included in the Inventit ServiceSync Android Library -->
        <service
            android:name="com.yourinventit.dmc.api.moat.android.MoatClientEndpoint"
            android:exported="true"
            android:permission="com.yourinventit.servicesync.android.permission.MOAT_ANDROID" >
            <intent-filter>

                <!-- The name should be 'package' + '.MOAT_CLIENT' -->
                <action android:name="com.yourinventit.moat.android.example.MOAT_CLIENT" />
            </intent-filter>
        </service>
    </application>

</manifest>